.button-add-input {
  font-size: 1.1em;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.delete-attachment {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.delete-attachment img {
  height: 1rem;
}