.skill-store {
  height: fit-content;
}

.skills-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-header img {
  height: 10rem;
  margin-bottom: 1rem;
}

.skills-header h4 {
  font-weight: 900;
}

.skill-store-light .skills-header h4 {
  color: var(--blue-dark);
}

.skill {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skill-store-light .skill {
  background-color: #F8F8F8;
}

.skill-store-high-contrast .skill {
  border: 2px solid var(--white);
}

.skill-store-high-contrast .skill:hover,
.skill-store-high-contrast .skill:hover .coins {
  border-color: var(--yellow-contrast);
  color: var(--yellow-contrast);
}

.skill img {
  height: 2.5rem;
}

.skill-name {
  font-weight: 700;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.skill-store-light .skill-name {
  color: var(--blue);
}

.coins {
  border-radius: 10px;
  border: 2px solid;
  font-weight: 900;
  width: max-content;
}

.skill-store-light .coins {
  border-color: var(--green);
  color: var(--green);
}

.skill-store-high-contrast .coins {
  border-color: var(--white);
  color: var(--white);
}

.choose-class {
  width: 100%;
}

.skill-store-light .title-gray {
  color: var(--gray-title);
}

.list-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.banner {
  position: relative;
  height: 7.5rem;
  width: 100%;
  cursor: pointer;
}

.banner:hover {
  border-radius: 15px;
  border: 3px solid var(--yellow-contrast);
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info-class {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  color: var(--white);
}

.info-class h6, .info-class p, .info-class small {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info-class hr {
  background-color: var(--white);
}

.skill-store-high-contrast .info-class h6,
.skill-store-high-contrast .info-class p,
.skill-store-high-contrast .info-class small {
  background-color: var(--black);
  width: fit-content;
  max-width: 100%;
}