.skill-store {
  height: fit-content;
}

.skills-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-header img {
  height: 10rem;
  margin-bottom: 1rem;
}

.skills-header h4 {
  font-weight: 900;
  color: var(--blue-dark);
}

.skill {
  cursor: pointer;
  background-color: #F8F8F8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skill img {
  height: 2.5rem;
}

.skill-name {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--blue);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.coins {
  border-radius: 10px;
  border: 2px solid var(--green);
  color: var(--green);
  font-weight: 900;
  width: max-content;
}

.choose-class {
  width: 100%;
}

.title-gray {
  color: var(--gray-title);
}

.banner {
  position: relative;
  height: 7.5rem;
  width: 100%;
  cursor: pointer;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info-class {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  color: var(--white);
}

.info-class h6, .info-class p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info-class hr {
  background-color: var(--white);
}