.skill-store {
  height: fit-content;
}

.skills-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-header img {
  height: 10rem;
  margin-bottom: 1rem;
}

.skills-header h4 {
  font-weight: 900;
}

.skill-store-light .skills-header h4 {
  color: var(--blue-dark);
}

.skill {
  cursor: pointer;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr 6rem;
  align-items: center;
  width: 100%;
}

@media (max-width: 400px) {
  .skill {
    grid-template-columns: 1fr auto;
  }

  .skill img {
    display: none;
  }
}

.skill-store-light .skill {
  background-color: #F8F8F8;
}

.skill-store-high-contrast .skill {
  border: 2px solid var(--white);
}

.skill-store-high-contrast .skill:hover,
.skill-store-high-contrast .skill:hover .coins {
  border-color: var(--yellow-contrast);
  color: var(--yellow-contrast);
}

.skill img {
  height: 2.5rem;
}

.skill-name {
  font-weight: 700;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.skill-store-light .skill-name {
  color: var(--blue);
}

.coins {
  border-radius: 10px;
  border: 2px solid;
  font-weight: 900;
  width: max-content;
  margin-left: auto;
}

.skill-store-light .coins {
  border-color: var(--green);
  color: var(--green);
}

.skill-store-high-contrast .coins {
  border-color: var(--white);
  color: var(--white);
}

.choose-class {
  width: 100%;
}

.skill-store-light .title-gray {
  color: var(--gray-title);
}

.list-classes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 600px) {
  .list-classes {
    grid-template-columns: 1fr;
  }
}

.classroom .banner {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.classroom[aria-selected="true"] .banner {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.banner {
  position: relative;
  height: 7.5rem;
  width: 100%;
  cursor: pointer;
}

.skill-store-high-contrast .banner:hover {
  border-radius: 15px;
  border: 3px solid var(--yellow-contrast);
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info-class {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  color: var(--white);
}

.info-class h6, .info-class span, .info-class small {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em !important;
}

.info-class hr {
  background-color: var(--white);
}

.skill-store-high-contrast .info-class h6, .skill-store-high-contrast .info-class small {
  background-color: var(--black);
  width: fit-content;
  max-width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}