.card-activity {
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
}

.card-activity-light {
  border-color: #F1F3F5;
  background-color: var(--white);
}

.card-activity-high-contrast {
  border-color: var(--white);
  background-color: var(--black);
}

.card-activity-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.card-activity-header img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.info-activity {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-activity h5 {
  margin-bottom: 0;
  margin-right: 1rem;
}

.card-activity-body {
  margin-top: 1rem;  
  white-space: pre-wrap;
}

.activity-grade {
  font-weight: 700;
  font-size: 1.1em;
  margin-right: 1rem;
}

.card-activity-light .info-activity, .card-activity-light .activity-grade {
  color: var(--gray-title);
}

.card-activity-light .activity-score {
  color: var(--yellow);
}

.card-activity-light.activity-content p {
  color: var(--gray-text);
}

.card-activity-footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}