.card-activity {
  border-radius: 10px;
  border: 2px solid #F1F3F5;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.card-activity-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.card-activity-header img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.info-activity {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--gray-title);
}

.info-activity h5 {
  margin-bottom: 0;
  margin-right: 1rem;
}

.card-activity-body {
  margin-top: 1rem;  
  white-space: pre-wrap;
}

.activity-grade {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--gray-title);
  margin-right: 1rem;
}

.activity-score {
  color: var(--yellow);
}

.activity-content p {
  color: var(--gray-text);
}

.post-comments {
  border-top: 2px solid #F1F3F5;
  border-bottom: 2px solid #F1F3F5;
}

.post-comments-title {
  display: flex;
  align-items: center;
}

.post-comments-title h5 {
  color: var(--blue-dark);
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.add-comment {
  display: flex;
  align-items: center;
}

.add-comment form {
  margin-left: 1rem;
  width: 100%;
}

.card-activity-footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}