.page-layout {
  padding: 2rem 10rem;
}

@media (max-width: 992px) {
  .page-layout {
    padding: 2rem 5rem;
  }
}

@media (max-width: 500px) {
  .page-layout {
    padding: 2rem 3rem;
  }
}

.list-activities-teacher {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
}

@media (max-width: 992px) {
  .list-activities-teacher {
    display: flex;
    flex-direction: column-reverse;
  }
}

.create-activity {
  height: fit-content;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
}

.topic, .add-topic {
  border-radius: 10px;
  display: block;
  filter: none;
}

.topic {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  position: relative;
  word-break: break-all;
}

.theme-light .topic {
  background-color: var(--white);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.09);
  color: var(--blue-dark);
}

.theme-light .topic:hover {
  color: var(--blue-dark);
}

.theme-high-contrast .topic, .theme-high-contrast .add-topic {
  border: 2px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
}

.theme-high-contrast .topic:hover {
  color: var(--yellow-contrast);
}

.topic[aria-selected="true"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  border-radius: 0 0 10px 10px;
}

.theme-light .topic[aria-selected="true"]::after {
  background-color: var(--red);
}

.theme-high-contrast .topic[aria-selected="true"]::after {
  background-color: var(--yellow-contrast);
}

.add-topic {
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  padding: 0rem 2rem;
}

.theme-light .add-topic {
  background-color: #F2F2F2;
  color: var(--gray-form) !important;
}

.add-topic:hover {
  color: var(--gray-form);
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}