.form-label {
  font-weight: 900;
  font-size: 1rem;
}

.bg-light .form-label {
  color: var(--blue-dark);
}

.form-input {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  border: 2px solid;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.3s ease-in-out border-color;
}

.textarea {
  resize: none;
  border: 2px solid;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.3s ease-in-out border-color;
}

.bg-light .form-input, .bg-light .textarea {
  border-color: var(--gray-form);
  color: var(--gray-title);
}

.bg-high-contrast .form-input, .bg-high-contrast .textarea {
  background-color: var(--black);
  border-color: var(--white);
  color: var(--white) !important;
}

.bg-light .form-input:focus, .bg-light .textarea:focus {
  color: var(--gray-title);
  border-color: var(--blue-light);
  box-shadow: none;
}

.bg-high-contrast .form-input:focus, .bg-high-contrast .textarea:focus {
  color: var(--white);
  border-color: var(--yellow-contrast);
  box-shadow: none;
}

.bg-light .form-input::placeholder, .bg-light .textarea::placeholder {
  color: var(--gray-title) !important;
}

.bg-high-contrast .form-input::placeholder, .bg-high-contrast .textarea::placeholder {
  color: var(--white) !important;
}

.checkbox label, .radio label {
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: 0;
  top: 0;
  width: 24px;
}

.bg-light .checkbox label,.bg-light .radio label {
  background-color: var(--white);
  border-color: var(--gray-form);
}

.bg-high-contrast .checkbox label, .bg-high-contrast .radio label {
  background-color: transparent;
  border-color: var(--white);
}

.checkbox label {
  position: absolute;
}

.radio label {
  position: relative;
  margin-right: 0.5rem;
}

.checkbox label:after, .radio label:after {
  border: 2px solid;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
}

.bg-light .checkbox label:after, .bg-light .radio label:after {
  border-color: var(--white);
}

.bg-high-contrast .checkbox label:after, .bg-high-contrast .radio label:after {
  border-color: var(--black);
}

.checkbox input[type="checkbox"],
.radio input[type="radio"],
.input-file input[type="file"] {
  visibility: hidden;
}

.bg-light .checkbox input[type="checkbox"]:checked + label,
.bg-light .radio input[type="radio"]:checked + label {
  background-color: var(--blue-dark);
  border-color: var(--blue-dark);
}

.bg-high-contrast .checkbox input[type="checkbox"]:checked + label,
.bg-high-contrast .radio input[type="radio"]:checked + label {
  background-color: var(--yellow-contrast);
  border-color: var(--yellow-contrast);
}

.checkbox input[type="checkbox"]:checked + label:after,
.radio input[type="radio"]:checked + label:after {
  opacity: 1;
}

.select {
  padding: 0.5rem 0.75rem !important;
}

.bg-light .select {
  color: var(--gray-title);
  background-color: #F8F9FA;
}

.bg-high-contrast .select {
  color: var(--white);
  background-color: var(--black) !important;
  border: 2px solid var(--white) !important;
}

.input-file {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.input-file input[type="file"] {
  width: 0;
}

.input-file label {
  padding: 0.75rem 0.59rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-light .input-file label {
  background-color: #EDEDED;
}

.bg-high-contrast .input-file label {
  background-color: transparent;
  border: 2px solid var(--white);
}

.input-file span {
  margin-left: 3.25rem;
  font-weight: 700;
  font-size: 1rem;
}

.bg-light .input-file span {
  color: var(--gray-title);
}

.input-file label img {
  height: 1rem;
}

.preview-image { 
  display: flex;
  justify-content: center; 
}

.preview-image img {
  margin-top: 1rem;
  display: none;
  height: 10rem;
}

.small-preview {
  display: flex;
  align-items: center;
}

.small-preview .preview-image img {
  height: 2rem !important;
  width: 2rem;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 0 !important;
}