* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --white: #FFF;
  --black: #000;
  --gray-text: #494949;
  --gray-title: #979797;
  --gray-light: #D5D5D5;
  --gray-form: #D8D8D8;
  --blue-light: #87D2EF;
  --blue: #2575FC;
  --blue-contrast: #0057E9;
  --blue-dark: #003049;
  --blue-text: #2B3543;
  --red: #F94144;
  --yellow: #F9C74F;
  --yellow-contrast: #FFF333;
  --green: #6EDE8A;
  --background-light: #FCF9FF;
}

html, body, #__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

body, #__next {
  max-width: 100vw;
  min-height: 100vh;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

.bg-light {
  background-color: var(--background-light);
}

.bg-high-contrast {
  background-color: var(--black);
  color: var(--white);
}

body, input, textarea, button {
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  transition: filter .3s;
}

a:hover {
  text-decoration: none;
}

.bg-light a {
  color: var(--blue-light);
  filter: brightness(0.9);
}

.bg-light a:hover {
  color: var(--blue-light);
}

.bg-high-contrast a {
  color: var(--white);
  text-decoration: underline;
}

.bg-high-contrast a:hover {
  color: var(--yellow-contrast);
}

button {
  cursor: pointer;
}

select {
  font-size: 1rem !important;
  border-radius: 10px !important;
  border: none !important;
}

select:focus {
  box-shadow: none !important;
}

.section {
  width: 100%;
  padding: 4rem 5rem;
}

.page-container {
  padding: 2rem 14rem;
}

@media (max-width: 1280px) {
  .page-container {
    padding: 2rem 10rem;
  }
}

@media (max-width: 1000px) {
  .page-container {
    padding: 2rem 5rem;
  }
}

@media (max-width: 500px) {
  .page-container {
    padding: 2rem 3rem;
  }
}

.navbar-collapse {
  flex-grow: unset !important;
}

.row {
  margin: 0 !important;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.bg-light .card-style {
  background-color: var(--white);
  box-shadow: 0px 2px 10px rgba(216, 216, 216, 0.3);
}

.bg-high-contrast .card-style {
  border: 2px solid var(--white);
}

.link-card {
  cursor: pointer;
}

.link-card h4 {
  text-align: center;
  font-weight: 900;
  color: var(--blue-dark);
  margin: 0;
}

.banner {
  position: relative;
  height: 37%;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.banner img.banner-inactive {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.info-class {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  color: var(--white);
}

.info-class .title, .info-class .nickname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info-class .nickname {
  font-weight: 400;
}

.info-class hr {
  background-color: var(--white);
}

.link-class {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1;
  background-color: var(--white);
  border-radius: 5px;
  padding: 0.1rem 0.25rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #538199;
  cursor: pointer;
  transition: filter 0.2s;
}

.link-class:hover {
  filter: brightness(0.95);
}

.img-contrast-white {
  filter: brightness(0) invert(1);
}