* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --white: #FFF;
  --black: #000;
  --gray-text: #494949;
  --gray-title: #979797;
  --gray-light: #D5D5D5;
  --gray-form: #D8D8D8;
  --blue-light: #87D2EF;
  --blue: #2575FC;
  --blue-dark: #003049;
  --blue-text: #2B3543;
  --red: #F94144;
  --yellow: #F9C74F;
  --yellow-contrast: #FFF333;
  --green: #6EDE8A;
  --background-light: #FCF9FF;
}

html, body, #__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

body, #__next {
  max-width: 100vw;
  min-height: 100vh;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

.bg-light {
  background-color: var(--background-light) !important;
}

.bg-high-contrast {
  background-color: var(--black);
  color: var(--white);
}

body, input, textarea, button {
  font-family: 'Lato', sans-serif !important;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
  transition: filter .3s;
}

a:hover {
  text-decoration: none;
}

.bg-light a {
  color: var(--blue-light);
}

.bg-light a:hover {
  color: var(--blue-light);
  filter: brightness(0.9);
}

.bg-high-contrast a {
  color: var(--white);
  text-decoration: underline;
}

.bg-high-contrast a:hover {
  color: var(--yellow-contrast);
}

button {
  cursor: pointer;
}

select {
  font-size: 1em !important;
  border-radius: 10px !important;
  border: none !important;
}

select:focus {
  box-shadow: none !important;
}

.section {
  width: 100%;
  padding: 4rem 5rem;
}

.page-container {
  max-width: 1500px;
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .section {
    padding: 4rem 2rem;
  }  
}

.navbar-collapse {
  flex-grow: unset !important;
}

.row {
  margin: 0 !important;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: fit-content;
}

.bg-light .card-style {
  background-color: var(--white);
  box-shadow: 0px 2px 10px rgba(216, 216, 216, 0.3);
}

.bg-high-contrast .card-style {
  border: 2px solid var(--white);
}

.link-card {
  cursor: pointer;
}

.link-card span {
  text-align: center;
  font-weight: 900;
  font-size: 1.25em;
  margin: 0;
}

.bg-light .link-card span {
  color: var(--blue-dark);
}

.bg-high-contrast .link-card:hover {
  border-color: var(--yellow-contrast);
}

.bg-high-contrast .link-card:hover span {
  color: var(--yellow-contrast);
}

.banner {
  position: relative;
  height: 40%;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.banner img.banner-inactive {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.banner .banner-content {
  display: grid;
  grid-template-columns: calc(100% - 10.55rem) 10.55rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media (max-width: 500px) {
  .banner .banner-content {
    display: flex;
    flex-direction: column;
  }

  .info-class {
    padding-right: 1.5rem !important;
  }

  .info-class .teacher {
    margin-bottom: 0.5rem !important;
  }

  .link-class {
    width: fit-content;
    margin-top: 0 !important;
  }
}

.info-class {
  color: var(--white);
}

.bg-high-contrast .info-class .title,
.bg-high-contrast .info-class .nickname,
.bg-high-contrast .info-class .teacher {
  background-color: var(--black);
  width: fit-content;
  max-width: 100%;
}

.info-class .title, .info-class .nickname, .info-class .teacher {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info-class .title, .info-class .nickname {
  font-size: 1.5em;
}

.info-class .teacher {
  font-size: 1em;
}

.info-class .nickname {
  font-weight: 400;
}

.info-class hr {
  background-color: var(--white);
}

.link-class {
  height: fit-content;
  border-radius: 5px;
  padding: 0.1rem 0.25rem;
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.bg-light .link-class {
  background-color: var(--white);
  color: #538199;
  transition: filter 0.2s;
}

.bg-light .link-class:hover {
  filter: brightness(0.95);
}

.bg-high-contrast .link-class {
  background-color: var(--black);
  border: 2px solid var(--white);
  color: var(--white);
}

.bg-high-contrast .link-class:hover {
  border-color: var(--yellow-contrast);
  color: var(--yellow-contrast);
}

.img-contrast-white {
  filter: brightness(0) invert(1);
}

.bg-high-contrast hr {
  border-color: var(--white);
}

.spinner-border {
  border-width: 0.25rem !important;
}