.modal-style .modal-content {
  border: none;
  border-radius: 15px;
}

.modal-style .modal-title {
  font-weight: 900;
  font-size: 1.75rem;
}

.modal-style .modal-body h4 {
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.modal-style .modal-footer .modal-button {
  font-weight: 900;
}

.modal-button {
  background-color: var(--white);
  border: none;
  font-size: 1rem;
}

/* MODAL THEME */

.modal-theme-high-contrast .modal-content {
  background-color: var(--black);
  border: 2px solid var(--white);
  color: var(--white);
}

.modal-theme-high-contrast .close {
  color: var(--white) !important;
  text-shadow: none !important;
  opacity: 1 !important;
}

.modal-theme-high-contrast .close:hover {
  color: var(--yellow-contrast) !important;
}

.modal-theme-light .modal-title, .modal-theme-light .modal-body h4 {
  color: var(--blue-dark);
}

.modal-theme-high-contrast .modal-title {
  color: var(--white);
}

.modal-theme-light .modal-footer .modal-button {
  color: var(--gray-title);
}

.modal-theme-high-contrast .modal-footer .modal-button {
  background-color: transparent;
  color: var(--white);
  text-decoration: underline;
}

.modal-theme-high-contrast .modal-footer .modal-button:hover {
  color: var(--yellow-contrast);
}

.modal-theme-high-contrast .form-input {
  background-color: var(--black);
  border-color: var(--white);
  color: var(--white) !important;
}

.modal-theme-high-contrast .form-input:focus {
  color: var(--white);
  border-color: var(--yellow-contrast);
  box-shadow: none;
}

.modal-theme-high-contrast .form-input::placeholder {
  color: var(--white) !important;
}