.table-body td {
  font-weight: 700;
  font-size: 1rem;
  vertical-align: middle;
}

.bg-light .table-body td {
  color: var(--blue-dark);
}

.bg-high-contrast .table-body td {
  color: var(--white);
}

.bg-light .table-body tr:hover {
  background-color: #FAFAFA;
}

.table-head th {
  font-size: 1.1rem;
  font-weight: 700;
}

.bg-light .table-head th {
  color: var(--gray-title);
}

.bg-high-contrast .table-head th {
  color: var(--white);
}

.status {
  border-radius: 10px;
  border: 2px solid;
  text-transform: uppercase;
}

.bg-light .status {
  border-color: var(--blue-dark);
}

.bg-high-contrast .status {
  border-color: var(--white);
}

.unit-grade {
  display: flex;
  align-items: center;
}

.unit-grade span {
  font-weight: 700;
}

.bg-light .unit-grade span {
  color: var(--blue-dark);
}

.grade {
  border-radius: 10px;
  border: 1px solid var(--gray-form);
  color: var(--gray-form);
  min-width: 3rem;
  text-align: center;
}

.bg-light .grade {
  border-color: var(--gray-form);
  color: var(--gray-form);
}

.bg-high-contrast .grade {
  border-color: var(--white);
  color: var(--white);
}