.card-skills {
  width: 100%;
  height: fit-content;
}

.skills-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-header img {
  height: 10rem;
  margin-bottom: 1rem;
}

.skills-header h4 {
  font-weight: 900;
}

.card-skills-light .skills-header h4 {
  color: var(--blue-dark);
}

.skill {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-skills-light .skill {
  background-color: #F8F8F8;
}

.card-skills-high-contrast .skill {
  border: 2px solid var(--white);
}

.skill img {
  height: 2.5rem;
}

.skill-name {
  font-weight: 700;
  font-size: 1.1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-skills-light .skill-name {
  color: var(--blue);
}

.skill button {
  font-weight: 700;
  background-color: transparent;
  border: 0;
}

.card-skills-light .skill button {
  color: var(--blue-dark);
}

.card-skills-high-contrast .skill button {
  border: 2px solid var(--white);
  border-radius: 10px;
  color: var(--white);
}

.card-skills-high-contrast .skill button:hover {
  border-color: var(--yellow-contrast);
  color: var(--yellow-contrast);
}