.ranking-student {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.ranking-student-light {
  border-color: #EDEDED;
}

.ranking-student-high-contrast {
  border-color: var(--white);
}

.ranking-student-avatar {
  height: calc(2.5rem + 1em);
  width: calc(2.5rem + 1em);
  border-radius: 50%;
}

.ranking-student h4 {
  font-weight: 700;
  width: calc(100% - 1.4rem - 1em);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ranking-student-light h4 {
  color: var(--gray-title);
}

.student-score {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 1.4rem - 1em);
}

.student-score span {
  font-size: 0.8em;
  font-weight: 700;
}