.banner-class {
  height: 15rem !important;
}

.banner-class img {
  border-radius: 20px !important;
}

.posts-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3rem;
}

.img-link-card {
  height: 3rem;
}

.post-comment textarea {
  min-height: 4.8rem;
  max-height: 10rem;
  resize: vertical;
}

.card-no-data {
  height: fit-content;
  border: 2px solid #F1F3F5;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.ranking-card h3 {
  font-weight: 900;
}

.ranking-light .ranking-card h3 {
  color: var(--blue-dark);
}

@media (max-width: 1000px) {
  .posts-section {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .posts-section {
    display: flex;
    flex-direction: column;
  }

  .posts-aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .posts-aside .img-link-card {
    height: 2rem;
  }
}