.comment-creator {
  display: flex;
  align-items: center;
}

.comment-creator img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.comment-info {
  margin-left: 1rem;
}

.comment-info h6 {
  font-size: 1.1rem;
  color: var(--gray-title);
  margin-bottom: 0;
}

.comment-info small {
  color: var(--gray-title);
  font-size: 0.9rem;
}

.comment-body {
  font-size: 1rem;
  color: var(--gray-text);
  line-height: 1.5rem;
  white-space: pre-wrap;
  line-break: anywhere;
}