.card-teacher {
  justify-content: center;
}

.card-teacher img {
  margin-bottom: 0.75rem;
  height: calc(2rem + 2em);
  width: calc(2rem + 2em);
  border-radius: 50%;
}

.card-teacher h5 {
  text-align: center;
  margin-bottom: 0;
}