.form-layout {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .form-layout {
    display: flex;
    flex-direction: column;
  }
}

.form-label {
  font-size: 1.1em;
  font-weight: 700;
}

.form-light .form-label {
  color: var(--gray-title);
}

.form-label + input[type="number"] {
  font-weight: 400 !important;
}

.radio-status input[type="radio"] {
  visibility: hidden;
  width: 0;
}

.radio-status label {
  font-weight: 700;
  padding: 0.25rem 0.75rem;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  left: 0;
  top: 0;
  height: max-content;
  width: max-content;
  position: relative;
}

.form-light .radio-status label {
  background-color: #F8F9FA;
  color: var(--gray-form);
  border-color: var(--gray-form);
}

.form-high-contrast .radio-status label {
  background-color: var(--black);
  border-color: var(--white);
}

.form-light .radio-status input[type="radio"]:checked + label {
  background-color: #B7EFC5;
  border-color: var(--green);
  color: var(--green);
}

.form-high-contrast .radio-status input[type="radio"]:checked + label {
  border-color: var(--yellow-contrast);
  color: var(--yellow-contrast);
}

.attachments-buttons {
  display: flex;
}

.attachments-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.attachments-buttons button img {
  height: 1.25em;
}

.attachments {
  margin-top: 2rem;
}

.attachments h5 {
  margin-bottom: 1rem;
}

.form-light .attachments h5 {
  color: var(--gray-title);
}

.attachments .link {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  align-items: center;
}

.attachments .link img {
  height: 0.75em;
  margin-right: 0.5rem;
}

.attachments .link a, .attachments .link span {
  font-weight: 700;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form-light .attachments .link a, .form-light .attachments .link span {
  color: var(--blue-light);
}

.delete-attachment {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.delete-attachment img {
  height: 1rem !important;
}

.alert {
  color: var(--red);
  max-width: 18em;
  text-align: center;
}

.form-light .alert {
  color: var(--red);
}

.form-high-contrast .alert {
  color: var(--yellow-contrast);
}