.main section {
  padding: 4rem 0;
}

.home-banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.logo-home {
  width: 60%;
  margin-left: 20%;
}

.title-home {
  font-weight: 900;
  text-align: center;
}

.keyword {
  border-radius: 10px;
  border: 1px solid;
  padding: 0.4rem 2rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 0.9em;
}

.keyword:not(.keyword:last-of-type) {
  margin-right: 1rem;
}

.arrow-down-icon {
  height: 2rem;
  margin-top: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cards-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1.5rem;
}

.section-not-allowed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-list-not-allowed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.border-soft-blue {
  width: 12rem;
  height: 1px;
  margin: 0.75rem auto 1rem;
}

.border-blue, .border-yellow {
  width: 6rem;
  height: 2px;
  margin: 0.75rem 0 1rem;
}

/* Theme light */
.theme-light .title-home {
  color: var(--blue-dark);
}

.theme-light .keyword {
  border-color: var(--blue);
  color: var(--blue);
}

.theme-light .border-soft-blue {
  background-color: var(--blue);
}

.theme-light .border-blue {
  background-color: var(--blue);
}

.theme-light .border-yellow {
  background-color: var(--yellow);
}

/* Theme high contrast */
.theme-high-contrast .keyword {
  border-width: 2px;
  border-color: var(--white);
}

.theme-high-contrast .border-soft-blue,
.theme-high-contrast .border-blue,
.theme-high-contrast .border-yellow {
  background-color: var(--white);
  height: 2px;
}

@media (max-width: 1400px) {
  .cards-list-not-allowed {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .title-home {
    font-size: 2em;
  }

  .cards-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .cards-list-not-allowed {
    grid-template-columns: 1fr;
  }
}