.attachment {
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.attachment-light {
  border-color: var(--gray-title);
}

.attachment-light {
  border-color: var(--white);
}

.attachment:not(.attachment:last-of-type) {
  margin-right: 1rem;
}

.attachment img {
  height: 2rem;
}

.attachment a {
  font-weight: 700;
}

.attachment-light a {
  color: var(--gray-title);
}