.list-students, .list-teachers {
  display: grid;
  gap: 2rem;
}

.list-teachers, .list-students {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 2000px) {
  .list-teachers, .list-students {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1500px) {
  .list-teachers, .list-students {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .list-teachers, .list-students {
    grid-template-columns: 1fr;
  }
}