.notification-light, .notification-high-contrast {
  height: fit-content;
}

.card-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.card-header img {
  height: 1.5em;
  margin-right: 0.75rem;
  border-radius: 50%;
}

.card-header h4 {
  font-weight: 900;
  margin-bottom: 0;
}

.notification-light h4 {
  color: var(--blue-dark);
}

.notification {
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

@media (max-width: 500px) {
  .notification {
    display: flex;
    flex-wrap: wrap;
  }

  .skill, .class {
    width: 100%;
  }

  .student-name {
    width: calc(100% - 3.5rem);
  }

  .student-name, .class {
    border-right: none !important;
  }

  .class {
    padding: 0 !important;
  }

  .skill, .class {
    margin-top: 0.5rem;
    padding-left: 0 !important;
  }
}

.notification-light .notification {
  background-color: #F8F8F8;
}

.notification-light .notification {
  border: 2px solid var(--white);
}

.student-name, .class, .skill span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notification img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.student-name {
  font-weight: 700;
  font-size: 1.1em;
}

.notification-light .student-name {
  color: var(--blue);
}

.class {
  font-weight: 700;
  font-size: 1em;
}

.notification-light .class {
  color: var(--gray-text);
}

.skill {
  display: flex;
  flex-direction: column;
}

.notification-light .skill strong {
  color: var(--blue-dark);
}

.notification-light .skill span {
  color: var(--green);
}