.notifications-light, .notifications-high-contrast {
  height: fit-content;
}

.card-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.card-header img {
  height: 1.5rem;
  margin-right: 0.75rem;
  border-radius: 50%;
}

.card-header h4 {
  font-weight: 900;
  margin-bottom: 0;
}

.notifications-light h4 {
  color: var(--blue-dark);
}

.notification {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.notifications-light .notification {
  background-color: #F8F8F8;
}

.notifications-light .notification {
  border: 2px solid var(--white);
}

.notification img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.student-name {
  font-weight: 700;
  font-size: 1.1rem;
}

.notifications-light .student-name {
  color: var(--blue);
}

.class {
  font-weight: 700;
  font-size: 1rem;
}

.notifications-light .class {
  color: var(--gray-text);
}

.skill {
  display: flex;
  flex-direction: column;
}

.notifications-light .skill strong {
  color: var(--blue-dark);
}

.notifications-light .skill span {
  color: var(--green);
}