.private-comment {
  border-radius: 10px;
  width: max-content;
}

.private-comment.theme-light {
  background-color: #F8F8F8;
}

.private-comment.theme-high-contrast {
  border: 2px solid var(--white);
  background-color: var(--black);
}

.theme-light .private-comment h5 {
  color: var(--gray-title) !important;
}

.theme-light .response h5 {
  color: var(--blue-dark) !important;
}

.response form {
  position: relative;
}

.response button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.response button img {
  height: calc(1rem + 1em);
}