.menu {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0.75rem 14rem !important; 
}

.menu-light {
  background-color: var(--white) !important;
  border-top: 10px solid var(--blue-dark);
}

.menu-light .menu-link {
  color: var(--blue-text);
}

.menu-light .menu-link:hover {
  color: var(--blue-dark);
}

.menu-high-contrast {
  background-color: var(--black) !important;
  border-top: 10px solid var(--black);
  border-bottom: 1px solid var(--white);
}

.menu-link {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  transition: color .2s;
}

.link-active {
  position: relative;
}

.link-active::after {
  content: "";
  width: calc(100% - 3rem);
  height: 5px;
  position: absolute;
  bottom: -1.2rem;
  left: 28%;
  transform: translateX(-25%);
  border-radius: 10px;
}

.menu-light .link-active::after {
  background: linear-gradient(90deg, var(--red) -21.79%, var(--yellow) 100%);
}

.menu-high-contrast .link-active::after {
  background: var(--yellow-contrast);
}

.menu-button {
  margin-left: 0.5rem !important;
}

.nav-icon {
  height: 1.5rem;
}

.btn-switch-theme {
  background-color: transparent;
  border: none;
}

@media (max-width: 1280px) {
  .menu {
    padding: 0.75rem 10rem !important;
  }
}

@media (max-width: 1000px) {
  .menu {
    padding: 0.75rem 5rem !important;
  }
}

@media (max-width: 768px) {
  .menu-button {
    margin-top: 1rem !important;
  }

  .link-active::after {
    display: none;
  }

  .link-active a {
    color: var(--red);
  }

  .link-active a:hover {
    color: var(--red);
  }
}