.classes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.loading-container, .add-class {
  min-height: 25rem;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-class {
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.add-class img {
  height: 5em;
}

.theme-light .add-class {
  background-color: var(--background-light);
  transition: filter 0.2s;
}

.theme-high-contrast .add-class {
  background-color: transparent;
  border: 2px solid var(--white);
}

.theme-light .add-class:hover {
  filter: brightness(0.95);
}

.theme-high-contrast .add-class:hover {
  border-color: var(--yellow-contrast);
}

.tooltip-high-contrast {
  border: 2px solid var(--white);
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
}

@media (max-width: 1700px) {
  .classes-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .classes-list {
    grid-template-columns: 1fr;
  }
}