.card-user {
  height: fit-content;
}

.card-user, .user-info {
  width: 100%;
}

.user-img {
  position: relative;
}

.user-img img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.edit-user-img {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

.edit-user-img label {
  border-radius: 50% !important;
  border: 2px solid var(--white) !important;
  height: 100%;
  position: relative;
}

.card-user-light .edit-user-img label {
  background-color: var(--yellow) !important;
}

.card-user-high-contrast .edit-user-img label {
  background-color: var(--black) !important;
}

.card-user-high-contrast .edit-user-img label:hover {
  border-color: var(--yellow-contrast) !important;
}

.edit-user-img img {
  height: 1rem;
  width: 1rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-user-light .user-info h4 {
  color: var(--gray-title);
}

.user-info p {
  word-break: break-all;
}

.card-user-light .user-info p {
  color: var(--gray-text);
}

.card-user-light .user-info strong {
  color: var(--blue-dark);
}

.coins {
  display: flex;
  align-items: center;
}

.coins img {
  height: 2rem;
  margin-right: 0.5rem;
}

.coins span {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
}

.card-user-light .coins span {
  color: var(--green);
}