.page-layout {
  display: flex;
  justify-content: center;
}

.page-layout p {
  font-size: 1em;
  line-height: 1.5;
  white-space: pre-wrap;
}

.li {
  font-weight: 700;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}