.footer {
  max-width: 1500px;
  width: 100%;
  padding: 0.75rem 3rem !important;
  margin: 0 auto;
}

.border-footer {
  width: 75%;
  height: 1px;
  margin: 4rem auto 0;
}

@media (max-width: 768px) {
  .border-footer {
    width: 100%;
  }
}

.link-footer {
  font-weight: 700;
  font-size: 1.1em;
  transition: color .2s;
}

.link-footer:hover {
  color: var(--gray-text);
}

.footer-light .border-footer {
  background-color: var(--gray-title);
}

.footer-light .link-footer {
  color: var(--gray-title);
}

.footer-high-contrast .border-footer {
  background-color: var(--white);
}