.border-footer {
  width: 75%;
  height: 1px;
  margin: 4rem auto 0;
  background-color: var(--gray-title);
}

.link-footer {
  font-weight: 900;
  font-size: 1.1rem;
  color: var(--gray-title);
  transition: color .2s;
}

.link-footer:hover {
  color: var(--gray-text);
}