.border-footer {
  width: 75%;
  height: 1px;
  margin: 4rem auto 0;
}

.link-footer {
  font-weight: 700;
  font-size: 1.1rem;
  transition: color .2s;
}

.link-footer:hover {
  color: var(--gray-text);
}

.footer-light .border-footer {
  background-color: var(--gray-title);
}

.footer-light .link-footer {
  color: var(--gray-title);
}

.footer-high-contrast .border-footer {
  background-color: var(--white);
}