.page-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

@media (max-width: 1100px) {
  .page-layout {
    display: flex;
    flex-direction: column;
  }
}

.card-activity-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.card-activity-header img {
  height: calc(2.5rem + 1em);
  border-radius: 50%;
}

.info-activity {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.theme-light .info-activity {
  color: var(--gray-title);
}

.delivery-cards {
  display: flex;
  border-left: 1px solid;
}

.theme-light .delivery-cards {
  border-color: var(--gray-form);
}

.theme-high-contrast .delivery-cards {
  border-color: var(--white);
}

@media (max-width: 768px) {
  .delivery-cards {
    border-left: none;
    justify-content: center;
  }
}

.info-card {
  border-radius: 10px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.5em;
  height: 6.5em;
}

.theme-light .info-card {
  background-color: var(--blue);
}

.theme-high-contrast .info-card {
  border: 2px solid var(--white);
}

.info-card .quantity {
  font-size: 2em;
  font-weight: 900;
}

.info-card span {
  font-size: 0.8em;
  text-align: center;
}

.activity-grade {
  font-weight: 700;
  font-size: 1.1em;
  margin-right: 1rem;
}

.theme-light .activity-grade {
  color: var(--gray-title);
}

.theme-light .activity-score {
  color: var(--yellow);
}

.activity-body {
  white-space: pre-wrap;
  line-height: 1.5;
}

.activity-status {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.15rem 0.5rem;
  font-weight: 700;
  font-size: 0.85em;
}

.theme-light .activity-status {
  background-color: #F8F8F8;
}

.theme-high-contrast .activity-status {
  border: 2px solid var(--yellow-contrast);
  background-color: var(--black);
}

.theme-light .activity-status .active {
  color: var(--green);
}

.theme-light .activity-status .inactive {
  color: var(--red);
}

.theme-high-contrast .activity-status .active,
.theme-high-contrast .activity-status .inactive {
  color: var(--yellow-contrast);
}

.card-private-comments, .card-send-activity {
  height: fit-content;
}

.card-private-comments h5 {
  font-weight: 900;
  width: 100%;
}

.theme-light .card-private-comments h5 {
  color: var(--black);
}

.card-send-activity-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-send-activity-header .delivered,
.card-send-activity-header .pending {
  text-transform: uppercase;
}

.theme-light .card-send-activity-header .delivered {
  color: var(--green);
}

.theme-light .card-send-activity-header .pending {
  color: var(--red);
}

.theme-high-contrast .card-send-activity-header .pending {
  color: var(--yellow-contrast);
}

.attachments {
  width: 100%;
}

.attachments .file {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  align-items: center;
  margin: 0.5rem 0;
}

.attachments .file img {
  height: 1rem;
  margin-right: 0.5rem;
}

.attachments .file span, .attachments .file a {
  color: var(--blue-light);
  font-weight: 700;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.delete-attachment {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.delete-attachment img {
  height: 1rem;
}

.send-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-button {
  display: flex;
  align-items: center;
}

.send-button img {
  height: 1em;
  margin-right: 0.5rem;
}

.card-send-private-comment form {
  position: relative;
}

.card-send-private-comment button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.card-send-private-comment button img {
  height: calc(1rem + 1em);
}