.post {
  border-radius: 10px;
  border: 2px solid;
}

.post-light {
  border-color: #F1F3F5;
  background-color: var(--white);
}

.post-high-contrast {
  border-color: var(--white);
  background-color: var(--black);
}

.post-creator {
  display: flex;
  align-items: center;
}

.post-creator img {
  height: calc(2.5rem + 1em);
  width: calc(2.5rem + 1em);
  border-radius: 50%;
}

.post-info {
  margin-left: 1rem;
}

.post-info h5 {
  margin-bottom: 0;
  font-size: 1em;
}

.post-info small {
  font-size: 0.9em;
}

.post-light .post-info h5, .post-light .post-info small {
  color: var(--gray-title);
}

.post-title {
  font-size: 1em;
}

.post-body {
  font-size: 1em;
  line-height: 1.5rem;
  white-space: pre-wrap;
}

.post-light .post-body {
  color: var(--gray-text);
}