.post {
  border-radius: 10px;
  border: 2px solid #F1F3F5;
  background-color: var(--white);
}

.post-creator {
  display: flex;
  align-items: center;
}

.post-creator img {
  height: 3.5rem;
  border-radius: 50%;
}

.post-info {
  margin-left: 1rem;
}

.post-info h5 {
  color: var(--gray-title);
  margin-bottom: 0;
}

.post-info small {
  color: var(--gray-title);
  font-size: 0.9rem;
}

.post-body {
  font-size: 1rem;
  color: var(--gray-text);
  line-height: 1.5rem;
  white-space: pre-wrap;
}

.post-comments {
  border-top: 2px solid #F1F3F5;
  border-bottom: 2px solid #F1F3F5;
}

.post-comments-title {
  display: flex;
  align-items: center;
}

.post-comments-title h5 {
  color: var(--blue-dark);
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.add-comment {
  display: flex;
  align-items: center;
}

.add-comment form {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  position: relative;
}

.add-comment form textarea {
  height: fit-content;
  max-height: 6rem;
}

.btn-create-comment {
  background-color: var(--white);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn-create-comment img {
  height: 2rem;
}