.card-class {
  min-height: 25rem;
  height: 20em;
  position: relative;
}

.card-class-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}