.post-activity {
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  align-items: center;
}

.post-activity.post-light {
  border-color: #F1F3F5;
  background-color: var(--white);
}

.post-activity.post-high-contrast {
  border-color: var(--white);
  background-color: var(--black);
}

.post-activity img {
  height: calc(2.5rem + 1em);
  width: calc(2.5rem + 1em);
  border-radius: 50%;
}

.post-activity h5 {
  margin-bottom: 0;
  margin-left: 1rem;
}

.post-activity.post-light h5 {
  color: var(--gray-title);
}

.post-activity h5 a {
  margin-left: 0.5rem;
}