.card-file {
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-theme-light {
  border-color: var(--gray-form);
}

.card-theme-high-contrast {
  border-color: var(--white);
}

.info-user {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.info-user img {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.info-user h5 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.card-theme-light .info-user h5 {
  color: var(--gray-title);
}

.file {
  display: flex;
  align-items: center;
}

.file img {
  height: 1.1rem;
  margin-right: 0.25rem;
}

.file span {
  font-weight: 700;
}

.card-theme-light .file span {
  color: var(--gray-form);
}

.status {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0.5rem;
}

.card-theme-light .status.overdue {
  color: var(--red);
}

.card-theme-light .status.on-time {
  color: var(--green);
}

.card-theme-high-contrast .status.overdue {
  color: var(--yellow-contrast);
}