.page img {
  width: 20%;
  margin-bottom: 2rem;
}

@media (max-width: 1280px) {
  .page img {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .page img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .page img {
    width: 70%;
  }
}